<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./resources/static/css/bootstrap.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${convicts}" class="container my-5">
                <p class="my-5">
                    <a href="/convicts/signup" class="btn btn-primary"><i
                            class="fas fa-user-plus ml-2"> Add Complainant</i></a>
                </p>
                <div class="col-md-10">
                    <h2 th:case="null">No Complainant yet!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Phone No</th>
                                <th>Nature of Conviction</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="convict : ${convicts}">
                                <td th:text="${convict.name}"></td>
                                <td th:text="${convict.surname}"></td>
                                <td th:text="${convict.phoneNo}"></td>
                                <td th:text="${convict.natureofconviction}"></td>
                                <td><a th:href="@{/convicts/edit/{id}(id=${convict.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a th:href="@{/convicts/delete/{id}(id=${convict.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>